@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="hr" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Untitled 1</title>
    <style type="text/css">
        .auto-style1 {
            font-size: xx-large;
            background-color: #FFFF00;
        }
    </style>
    <style type="text/css">
        .auto-style2 {
            font-size: medium;
        }
    </style>
   
    

</head>

<body>

    <form ... 
        method="post" style="height: 63px">
        
        <br />
        <br />
        <br />
        <center>
            <label id="Label4">

                <span class="auto-style1">
                    Bilo kada, bilo gdje, TaxiDispatch Vas vodi vašem
                    cilju !
                </span>
            </label><br class="auto-style1" />
        </center>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <center>
            <label id="Label5">
                <span class="auto-style2">
                    Username:
                </span>
            </label><br calss="auto-style2" />
        </center>

        <center><input name="username" style="width: 214px; height: 40px" type="text" /></center>

        <center>
            <label id="Label6">
                <span class="auto-style2">
                    Password:
                </span>
            </label><br calss="auto-style2" />
        </center>
        <center>
            <input name="pass" style="width: 214px; height: 40px" type="password" /><br />
        </center>
        <br />
        <br />
        <center>
            <input name="prijava" style="width: 117px; height: 35px" type="button" value="Prijava" /><br />
        </center>
        <br />

        <center>
            <input name="registracija" type="button" value="Registruj se kao vozač !" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input name="registracija0" type="button" value="Registruj se kao korisnik !" /><br />
        </center>
        <br />
        <br />

    </form>



</body>

</html>
